archive/*

Beispielskripte/*

Papers-sekundaer/*

Papers-unbearbeitet/*

Raspberry_Pi_Benchmarks/*

sources/*

Tutorials/*

Umlet/*

Vorlage-Anmeldung-Bachelorarbeit.txt

todo*

bachelor-arbeit.sublime-workspace